@model IEnumerable<u19072237_HW04.Models.DiabetesPatient>

@{
    ViewBag.Title = "Index3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 style="text-align:center"> List of Diabetic Patients</h2>
<p>
    <button type="button" class="btn btn-info"> @Html.ActionLink("Create New Diabetes Patient", "Create3")</button>
</p>

<div class="row">
    <table class="table table-striped">
        <tr style="background-color: cornflowerblue">
            <th>
                NAME
            </th>
            <th>
                SEX
            </th>
            <th>
                AGE
            </th>
            <th>
                ADMITTED TO CLINIC
            </th>
            <th>
                GLUCOSE LEVEL
            </th>
            <th>
                HEALTH CONDITION
            </th>
            <th>
                BED ALLOCATION
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Age)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAdmitted)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GlucoseLevel)
                </td>
                <td>
                    @item.HealthCondition();
                </td>
                <td>
                    @item.BedAllocated();
                </td>
                <td>
                    <button type="button" class="btn btn-warning">
                        @Html.ActionLink("Edit", "Create3", new { id = item.ID })
                    </button>

                    <button type="button" class="btn btn-danger">
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </button>
                </td>
            </tr>
        }
    </table>
</div>
