@model IEnumerable<u19072237_HW04.Models.MakeBooking>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css" type="text/css" media="screen" />

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</head>
<body>
    <br />
    <h2 style="text-align:center"> List of Bookings</h2>

    <p>
        <button type="button" class="btn btn-info"> @Html.ActionLink("Make New Booking", "Create")  </button>

    </p>
    <div class="row">
        <table class="table table-striped">
            <tr style="background-color: cornflowerblue">
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Reason)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr id="myTableRow">
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reason)
                    </td>
                    <td>

                        <button type="button" class="btn btn-warning">
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ })
                        </button>

                        <button type="button" class="btn btn-danger" onclick="myFunction()">
                            DELETE
                        </button>



                    </td>
                </tr>
            }
        </table>
    </div>

    <script>
        function myFunction() {

            $('#myTableRow').remove();
        }
    </script>


</body>

